
.cont{
  width: 100%;
 display: flex;
 flex-direction: row-reverse;
 padding-right: 10%;
}
.button-container {
  display: flex;
  justify-content: left;
  align-items: start;
  height: 100vh;
  width: 100%;
  padding-left:10% ;
  padding-top:20% ;
  flex-direction: column;

}

.button-left {
  background-color: #2b91ff;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 2rem;

  border: none;
}

.button-right {
  background-color: #2b91ff;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  margin-left: 2rem;
  margin-top: 30px;
}
.button-right-right {
  background-color: #2b91ff;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  /* margin-left: 30px; */
}
.button-left:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button-right:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.button-right-right:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.character{
  /* position: fixed; */
  display: flex;
  justify-content: center;
  flex-direction: column;

  right: 10%;
  top: 40%;
}
svg{
  width:596.88227px;
   height:400.00144px;
}

@media (max-width:1366px) {
  .cont{
    height: 100vh;

  }
  .button-container {
    margin-left: 10%;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    /* padding-top: 25%; */
    height: 95vh;
    /* padding-left: 40%; */
    /* position: fixed; */
    padding-bottom:40% ;
    /* left: 20px; */
    margin-top: 30%;
  }
  .button-left {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .button-right {
    margin-bottom: 1rem;
  }
  .button-right-right {
    margin-left: 0%;
    font-size: medium;
    margin-bottom: 1rem;
  }
  .svg{
    width: 50%;
  }
}
@media (max-width: 834px) {
  .cont{
    padding-right: 0;
  }
  .character{
    display: none;
  }
  div.button-container{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }

}
@media (max-width: 768px) {
  .cont{

  }
  .button-container {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    height: 95vh;
    margin-left: 20%;
    padding-top: 0;
    margin-top: 0;

  }

  .button-left {
    margin-right: 10%;
    margin-bottom: 1rem;
  }

  .button-right {
    margin-bottom: 1rem;
  }
  .button-right-right {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .character{
    display: none;

  }
}
@media (max-width: 690px) {

  svg{
    width: 400px;
    height: 600px;
  }
  .button-container {
    /* justify-content: space-around; */
    flex-direction: column;

  }
  .button-left {
    margin-right: 0;
    margin-top: 40%;
    /* margin-bottom: 70%; */
  }

  .button-right {
    margin-bottom: 70%;
    margin-top: 0%;

  }
  .button-right-right {
    margin-top: 30%;
    margin-left: 0%;
    font-size: medium;
    /* margin-bottom: 70%;  */
   }
  /* .character{
    position: absolute;
    right: %;
    top: 60%;
  } */
}
@media (max-width: 533px) {
  .button-right-right{
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  .button-left, .button-right {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  .button-container{height: 100vh;text-align: center;flex-direction: column;align-items: center;}
  svg{
    width: 300px;
    height: 300px;
  }

}

.nd{
  display: none;
}
