.navbar-collapse.collapse.in {
    display: block !important;
  }

nav {
    -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.6);
    box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.6);
}

nav.navbar{
    /* background-color: rgb(240,240,240); */
    background-color: white;
}

nav .logo{
  /* padding-left: 20px; */
    width: 20%;
    height: 38px;
    display: block;
    margin: auto;
    text-align: center;
}

nav div ul li{
    margin-right: 50px;
    height: 40px;
}
nav div ul li a{
    color: black;
}

nav div ul{
    text-align: center;
}

nav div div{
    cursor: pointer;
    text-align: center;
    margin-right: 42px;
    height: 40px;
    color: black;
}


nav div ul li:hover a{
    color: rgb(69 157 252);
    font-size: 17px;
}

/* nav div div:hover{
    background-color: rgb(69 157 252);
    border-radius: 12px;
} */
nav div div:hover div{
    color: rgba(92, 92, 92, 0.493);
}
#username{
  background-color: #8dc4ff;
  /* padding: 0.2rem 0.2rem 0.2rem 0.2rem; */
  padding-left: 0.5rem;
  padding-right: 0.2rem;
  border-radius: 10px;
  color: white;

}
#username:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: rgb(0, 0, 0);

}
svg:hover{text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: #2683e8;
}
svg{
  width: 108px;
}

@media (max-width:782px){
  nav div div{
    font-size: 0.9rem;
  }
}
