.button-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
  padding-left:10% ;
}

.button-left {
  background-color: #2b91ff;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-right: 2rem;
  border: none;
}

.button-right {
  background-color: #2b91ff;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
}
.button-left:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.button-right:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.character{
  position: fixed;
  right: 10%;
  top: 40%;
}
svg{
  width:596.88227px;
   height:400.00144px;
}

@media (max-width:1366px) {
  .button-container {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    height: 95vh;
  }
  .button-left {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .button-right {
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    height: 95vh;
  }

  .button-left {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .button-right {
    margin-bottom: 1rem;
  }
}
@media (max-width: 690px) {

  svg{
    width: 400px;
    height: auto;
  }
  .button-container {
    justify-content: space-around;
    flex-direction: row;

  }
  .button-left {
    margin-right: 0;
    margin-bottom: 70%;
  }

  .button-right {
    margin-bottom: 70%;
  }
  .character{
    position: absolute;
    right: %;
    top: 60%;
  }
}
@media (max-width: 533px) {
  .button-left, .button-right {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
  }
  .button-container{height: 100vh;}
  svg{
    width: 300px;
    height: auto;
  }

}


