<section class="" [style.display]="display">
  <!-- Footer -->
  <footer class="text-white text-center text-md-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-8 mb-4 mb-md-0 container left-footer">
          <h5 class="text-uppercase">About Page</h5>

          <p>
            Our Website is created to help you in your learning journey by providing a personalized learning experience
            just for you.
          </p>
          <p>
            through AI techinques we help you have a personal tutor,that tracks your progress,giving you insights to
            improve and examine you in the different knowleadge Areas
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col mb-4 mb-md-0 container right-footer">
          <h5 class="text-uppercase">Get In Touch!</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Facebook</a>
            </li>
            <li>
              <a href="#!" class="text-white">Instagram</a>
            </li>
            <li>
              <a href="#!" class="text-white">Twitter</a>
            </li>
            <li>
              <a href="#!" class="text-white">LinkedIN</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://github.com/MedoGhoz/English-Examination-System">GitHub Page</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>