/* You can add global styles to this file, and also import other style files */
@import "~bootstrap\dist\css\bootstrap.min.css";
@import "~font-awesome\css\font-awesome.min.css";

body{
    font-family: 'Amazon Ember', sans-serif;
}
/* Set the width of the scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;

}

/* Set the color of the thumb and the track of the scroll bar */
::-webkit-scrollbar-thumb {
  background-color: #b5daff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #242c33;
}
