<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>

</head>
<body>
	<div class="container">
		<div class="profile">
			<img src="https://via.placeholder.com/150" alt="Profile Picture">
			<h1>{{this.user}}</h1>
			<p>Student <em>{{this.level}}</em></p>
			<ul>
				<li><i class="fa fa-envelope"></i><span>{{this.email}}</span></li>
				<!-- <li><i class="fa fa-phone"></i><span>(555) 123-4567</span></li> -->
				<!-- <li><i class="fa fa-map-marker"></i><span>123 Omar cairo,Egypt</span></li> -->
			</ul>
      <div class="buttons">
        <!-- <button class="btn-block">
            Personal Info.
        </button> -->
        <!-- <button class="btn-block">
          Exams History
      </button> -->
    </div>
		</div>
	</div>
</body>
</html>
