<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>

</head>
<body>
	<div class="container">
		<div class="profile">
			<img src="https://via.placeholder.com/150" alt="Profile Picture">
			<h1>{{this.user}}</h1>
			<p>Student <em>{{this.level}}</em></p>
			<ul>
				<li><i class="fa fa-envelope"></i><span>{{this.email}}</span></li>
				<!-- <li><i class="fa fa-phone"></i><span>(555) 123-4567</span></li> -->
				<!-- <li><i class="fa fa-map-marker"></i><span>123 Omar cairo,Egypt</span></li> -->
			</ul>
      <table>
        <tr>
          <th>Test Id</th>
          <th>category</th>
          <th>Created At</th>
          <th>Level</th>
          <th>Score</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let exam of takenExams">
          <td>{{exam._id}}</td>
          <td>{{exam.category}}</td>
          <td>{{exam.createdAt}}</td>
          <td>{{exam.level}}</td>
          <!-- <td>{{exam.numberOfQuestions}}</td> -->
          <td>{{exam.score}}</td>
          <td>{{exam.numberOfQuestions}}</td>
        </tr>
      </table>
		</div>
	</div>
</body>
</html>
