<section class="container">
    <!-- <div class="d-flex flex-row-reverse second-bar">
        <div class="result">
            <div class="score container">
                <div>{{width+1}}</div>
            </div>
        </div>
        <div class="question-type">
            <img [src]="logoPath" height="40px" width="40px">
        </div>
    </div> -->
    <div class="question d-flex row container">
        <div class="col" [style.display]="display">
            <div class="card text-center" style="height: 120px;">
                <div class="card-header">
                    <p class="audioHeader">Listen then answer</p>
                </div>
                <div class="card-body">
                    <p *ngIf="type.toLocaleLowerCase() == 'reading'">
                        {{questions[width].header}}
                    </p>
                    <div *ngIf="type.toLocaleLowerCase() == 'listening'">
                        <audio controls class="audioQuestion">
                            <source [src]="fileSource" type="audio/mp3">
                        </audio>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card text-center" style="height: 120px;">
                <div class="card-header">
                    <input type="text" placeholder="enter what you hear" class="answer" [(ngModel)]="answer" [disabled]="submitted">
                </div>
                <div class="card-body">
                    <div id="result"></div>
                    <form>                
                        <input type="button" (click)="nextQuestion()" value="next" class="nextButton">
                        <input type="button" (click)="submitQuestion()" value="submit" class="finishButton" [disabled]="submitted">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>