<div id="wrapper" class="jumbotron">
  <hr />

  <h2>Generate Grammar Question</h2>

  <div id="generateForm row">
    <textarea
      style="height: 100px; margin-bottom: 10px"
      #text
      class="form-control"
      rows="6"
      placeholder="Sentence text ..."
    ></textarea>
    <div class="row">
      <div class="col">
        <!-- First dropdown for keys -->
        <select class="form-select" [(ngModel)]="selectedKey">
          <option disabled selected value="">Select Level</option>
          <option *ngFor="let key of getKeys()" [value]="key">{{ key }}</option>
        </select>
      </div>
      <!-- <div class="col">
        Second dropdown for values
        <select class="form-select" [(ngModel)]="selectedValue">
          <option disabled selected value="">Select Topic</option>
          <option
            *ngFor="let value of selectedKey ? Topics[selectedKey] : []"
            [value]="value"
          >
            {{ value }}
          </option>
        </select>
      </div> -->
    </div>
    <button
      style="height: 50px; margin-top: 80px"
      (click)="generate(text.value, selectedKey, selectedValue)"
      type="button"
      class="btn btn-primary btn-block mb-3"
    >
      Generate
    </button>
  </div>

  <div style="width: 1200px" id="questionsBox" *ngIf="questions">
    <div
      class="questionBox"
      *ngFor="let question of questions; let i = index"
      class="card mb-3"
    >
      <h5 class="card-header">Question {{ i + 1 }}</h5>

      <div class="card-body">
        <h6 class="card-title">{{ question.question }}</h6>
      </div>

      <div *ngFor="let distractor of question.mcq" class="answerBox">
        <input
          *ngIf="checkAnswer(question, distractor); else notValid"
          type="text"
          disabled
          value="{{ question.answer }}"
          class="form-control is-valid"
          id="inputValid"
        />
        <ng-template #notValid>
          <input
            type="text"
            value="{{ distractor }}"
            disabled
            class="form-control is-invalid"
            id="inputInvalid"
          />
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="spinner-book" role="status">
  <div class="spinner_overlay"></div>
  <div class="book container d-flex align-items-center justify-content-center">
    <div class="inner">
      <div class="left"></div>
      <div class="middle"></div>
      <div class="right"></div>
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
