<div *ngIf="!examType" class="container">
  <h2>Select Exam Type</h2>
  <div class="Buttons">
  <button (click)="selectExamType('Complete Exam')">Complete Exam</button>
  <button (click)="selectExamType('Reading')">Reading</button>
  <button (click)="selectExamType('Listening')">Listening</button>
  <button (click)="selectExamType('Grammer')">Grammer</button>
  <button (click)="selectExamType('Vocabulary')">Vocabulary</button>
</div>
</div>

<div *ngIf="examType && !examLength" class="container">
  <h2>Select Exam Length</h2>
  <div class="Buttons">
  <button (click)="selectExamLength('small')">15 minutes</button>
  <button (click)="selectExamLength('medium')">30 minutes</button>
  <button (click)="selectExamLength('large')">45 minutes</button>
</div>
</div>

<router-outlet></router-outlet>
